#全てのページの共通要素を書いていく
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  background-color: #f0f0f0;
  font-size: 10px;
  color: #333;
  margin: 0 auto;
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}
body {
  -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

html {
  margin: 0px;
  height: 100%;
}
body {
  margin: 0px;
  background-color: #f9f9f9;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}
header {
  background-color: #3F51B5;
  margin: 0px;
  height: 100px;
  position: fixed;
  height: 64px;
  width: 100%;
  top :0px;
  box-shadow: 0 2px 5px #999;
  border: 0;
}
.header_margin {
  height: 64px;
}
footer {
  margin-top: 10px;
  bottom: 0; left: 0; right: 0;
  position: bottom;
  content:" ";
  display:block;
  clear:both;

}
footer p {
  margin :5px;
}
h1 {
  color: white;
  margin: 6px 0px 0px 0px;
  padding: 9px;
  width: 30%;
  float: left;
  font-size: 20px;
}
h1 a {
  text-decoration: none;
  color:#FFFFFF;
}
.auth_button {
  float: right;
  margin-top: 15px;
}
.button {
  text-decoration: none;
  font-weight: bold;
  color:#FFFFFF;
  background-color: #3F51B5;
  padding: 8px;
  margin: 4px;
  top: 3px;
  border-radius: 20px;
  border: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  font-size:5px;
}
.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

.card {
  margin: 12px;
  padding: 12px;
  box-shadow: 0 2px 5px #999;
  border: 0;
}

.editbox {
}

.dustbox {

}

.title{
  color: blue;
  margin: 0 auto;
}

.card img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  max-width: 56px;
  height: auto;
  float: left;
  margin: 0px 6px 6px 0px;
}
.profile {
  max-width: auto;
  height: auto;
  margin: 10px 10px 10px 10px;
  padding: 15px;
  border: 0;
  background-color:white;
  box-shadow: 0 2px 5px #999;
}
.timeline .timeline_moji{
  text-align: center

}
.mypage_font{
  color: gray;
  font-size: 11px;
}

.mypage_font h4{
  padding: 3px 0 0 0;
}

.mypage h4{
  margin: 0px;
  padding: 0px;
}
.timeline {
 margin:0 auto;
 height: auto;
}

.other_users_row{
  display: flex;
  flex-direction: row;
  float: left;
}

.profile_img img {
 border-radius: 50px;  /* 角丸半径を50%にする(=円形にする) */
  max-width: 100px;
  height: auto;
}
.profile_img{
  text-align: center;
}

.contents-row {
  background-color: #FFFFFF;
  margin:0 auto;
}

.yourtime_form {
 background-color: #FFFFFF;
 width: 85%;
 margin: 20px auto 0px;
 box-shadow: 0 2px 5px #999;
 text-align: center;
}

.yourtime_form input{
 border: 2px solid #ccc;
 border-radius: 7px;
 padding: 6px;
 margin: 3px auto;

}

.yourtime_form h3{
  font-weight: 100 !important;
  color: #999;
}
.submit_button input{
 background-color: #FF9800;
 color: #FFFFFF;
 padding: 10px 15px;
 margin: 0px 0px 9px 0px;
}

.success {
 text-align: center;
}

.success .submit_button {
 background-color: #FF9800;
 color: #FFFFFF;
 padding: 10px 15px;
 margin: 0px 0px 9px 0px;
}

.profile_edit .submit {
 background-color: #FF9800;
 color: #FFFFFF;
 padding: 10px 15px;
 margin: 0px 0px 9px 0px;
}

.field input{
 border: 2px solid #ccc;
 border-radius: 7px;
 padding: 6px;
 margin: 10px auto;
 width: 300px;
}

.yourtime_form select{
width: 200px;
height: 40px;
margin: 0 0 10px 0;
background-color: #FFF
}

.actions input{
  background-color: #FF9800;
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 0px 0px 9px 0px;
}

.yourtime_form textarea{
border: 2px solid #ccc;
border-radius: 7px;
resize: none;
margin: 3px auto;
padding: 6px;
width: 270px;
}

html, body {
  height: 100% !important;
  margin: 0 !important;
}
.wrapper {
  min-height: 100% !important;

  /* フッタの高さと等しいネガティブマージン */
  /* また最後の子要素の潜在的なマージンとしても機能 */
  margin-bottom: x -50px !important;
}
.footer,
.push {
  height: 50px !important;
}


